.env
__pycache__

build/*
install/*
log/*
site/*

*.pbstream
core

/*.pgm
/*.png
/*.yaml
/*.gv
/*.pdf
*.pyc
src/robot_localization
src/costmap_converter
src/teb_local_planner
src/perception_pcl
/robot_localization_debug.txt
src/capella_ros_launcher/param/dsf_node.yaml
src/capella_ros_launcher/param/imu_filter_node.yaml
src/capella_ros_launcher/map
src/nav2_bringup
src/nav2_simple_commander/map
src/dock_visual
# .devcontainer/docker-compose.yaml
src/capella_ros_launcher/param/dsf_node.yaml
